{%extends 'base.html'%} {% block content %}
{% load static %}

<div class="d-flex flex-wrap justify-content-around px-5 pt-3 align-items-center">
<div class="col-6">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere accusamus voluptatem consectetur ipsum ab odit consequatur ipsa possimus sapiente accusantium earum at, rerum ea? Nemo, ratione ipsum! Molestias fugiat nam odit repellat? Maxime praesentium repellat rerum necessitatibus voluptatum, iste perspiciatis! Iste nisi voluptatum mollitia modi! Vel maiores iste in exercitationem, consectetur laborum! Labore eligendi cumque incidunt necessitatibus minima quae enim consequuntur autem temporibus omnis. Itaque sint ullam molestiae necessitatibus repellat fuga deleniti, officiis molestias cum reiciendis sequi, accusantium veniam impedit libero consequatur est perspiciatis quia! Nemo inventore cum itaque recusandae molestiae consequuntur fuga porro ullam. Deleniti dolorem labore velit vitae!</p>
</div>
<div class="col-6">
<img style="width:50%" src="{%static 'header.png'%}" alt="">
</div>
</div>

<h1>this is home page</h1>

<div class="d-flex flex-wrap">
  <div class="col-2 p-4 bg-white"> 
    <h5>All Categories</h5>
    {% for cat in category %}
    <div class="form-check">
      <input class="form-check-input" type="radio" name="category" id="{{cat.id}} ">
      <label class="form-check-label" for="{{cat.id}}">
        <a class="text-decoration-none text-black" href="{%url 'category_wise_post' cat.slug%}">{{cat.name}}</a>
      </label>
    </div>
    {% endfor %}
  </div>
  <div class="col-10"> 
    <h4>{{data | length}} results found</h4>
    <div class="d-flex flex-wrap  px-5 pt-5">
      {% for post in data %}
      <div class="col-sm-4">
        <div class="card mx-2">
          <div class="card-body">
            <img src="{{post.image.url}}" class="card-img-top" alt="..."> 
            <h4 class="card-title p-2">{{post.tittle}}</h4>
            <h6 class="card-text">
                Price : {{post.price}}
            </h6>
            <h6 class="card-text">
                Brand Name : {% for cat in post.category.all %}
                <button class="btn btn-primary btn-sm m-2" disabled>{{cat.name}}</button>
                {% endfor %}
            </h6>
        
    
            <a href="{%url 'detail_post' post.id%}" class="text-decoration-none" >View Details..</a>
    
    
          </div>
        </div>
      </div>
    
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}