{%extends 'base.html'%} {% block content %}
{% load static %}

<div class="d-flex flex-wrap justify-content-around px-5 pt-3 m-2 align-items-center" style="background:aqua;">
<div class="col-6">
  <h1> Get your Favourite one</h1>
</div>
<div class="col-6">
<img style="width:50%" src="{%static 'banner.jpg'%}" alt="">
</div>
</div>

<div class="p-4 m-2 bg-white d-flex justify-content-around"> 
    <h5>All Categories</h5>
    
    <div class="form-check p-3 m-auto">{% for cat in category %}
      <input type="radio" class="btn btn-check" name="options" id="option1" autocomplete="off">  {{cat.id}}.
      <label class="btn btn-secondary" for="option5">
        <a class="text-decoration-none text-black" href="{%url 'category_wise_post' cat.slug%}">{{cat.name}} </a>
        
      </label>
      {% endfor %}
    </div>
    
  </div>
<div class="d-flex flex-wrap">
  
  <div class="col-12"> 
    <h4>{{data | length}} results found</h4>
    <div class="d-flex flex-wrap  px-5 pt-5">
      {% for post in data %}
      <div class="col-sm-4">
        <div class="card mx-2">
          <div class="card-body">
            <img src="{{post.image.url}}" class="card-img-top" alt="..."> 
            <h4 class="card-title p-2">{{post.tittle}}</h4>
            <h6 class="card-text">
                Price : {{post.price}} /=
            </h6>
            <h6 class="card-text">
                Brand Name : {% for cat in post.category.all %}
                <button class="btn btn-primary btn-sm m-2" disabled>{{cat.name}}</button>
                {% endfor %}
            </h6>
        
    
            <a href="{%url 'detail_post' post.id%}" class="text-decoration-none" >View Details..</a>
    
    
          </div>
        </div>
      </div>
    
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}